cachetools==5.3.3
causal-conv1d @ file:///workspace/causal-conv1d
constantly==23.10.4
contourpy==1.2.1
cuda-python @ file:///rapids/cuda_python-12.4.0-cp310-cp310-linux_x86_64.whl#sha256=8443f5be981c5290d82acebfbc73cfea1f191c09670b6c9c72b46a06f05f8279
datasets==2.21.0
debugpy==1.8.1
Deprecated==1.2.15
docker-pycreds==0.4.0
einops==0.8.0
evaluate==0.4.2
huggingface-hub==0.24.5
hypothesis==5.35.1
ipykernel==6.29.4
ipython==8.21.0
librosa==0.10.1
linear-attention-transformer==0.19.1
linformer==0.2.3
lintrunner==0.12.5
mamba-ssm @ file:///lustre/fs9/portfolios/nvr/users/yongganf/mamba
matplotlib==3.8.4
matplotlib-inline==0.1.7
mne==1.10.2
numpy==1.26.4
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cudnn-frontend @ file:///opt/pytorch/pytorch/third_party/cudnn-frontend
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-dali-cuda120==1.37.1
nvidia-modelopt==0.15.1
nvidia-nccl-cu12==2.21.5
nvidia-nvimgcodec-cu12==0.2.0.7
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
nvidia-pyindex==1.0.9
pandas==1.5.3
pyhealth==1.1.6
python-dateutil==2.9.0.post0
python-gdcm==3.0.24.1
python-gettext==5.0
python-hostlist==1.23.0
python-json-logger==2.0.7
python3-openid==3.2.0
pytorch-quantization==2.1.2
pytorch-triton @ file:///tmp/dist/pytorch_triton-3.0.0%2Bdedb7bdf3-cp310-cp310-linux_x86_64.whl#sha256=d6f770e5e6b195feb8ba9c3ac057ced4b8faee549cbc07c94f4aaeca4443f6e6
safetensors==0.4.4
scikit-image==0.25.0
scikit-learn==1.4.2
scipy @ file:///rapids/scipy-1.13.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=b8434f6f3fa49f631fae84afee424e2483289dfc30a47755b4b4e6b07b2633a4
seaborn==0.13.2
tensorboard==2.16.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
timm==1.0.12
torch==2.5.1+cu121
torch-tensorrt @ file:///opt/pytorch/torch_tensorrt/dist/torch_tensorrt-2.4.0a0-cp310-cp310-linux_x86_64.whl#sha256=e62c367c26869d8358a50e20e72279d2f28abd0596194554736156639434cf4d
torchaudio==2.5.1+cu121
torchio==0.20.3
torchvision==0.20.1+cu121
tornado==6.2
tqdm==4.66.4
transformer_engine @ git+https://github.com/NVIDIA/TransformerEngine.git@a7e9d3e7d9015f9233c5e768263c8f7b9c26953e
transformer_engine_cu12==1.9.0
transformers==4.44.0
wandb==0.17.7
