causal-conv1d @ file:///workspace/causal-conv1d
einops==0.8.0
linear-attention-transformer==0.19.1
mamba-ssm @ file:///lustre/fs9/portfolios/nvr/users/yongganf/mamba
mne==1.10.2
numpy==1.26.4
pandas==1.5.3
scikit-image==0.25.0
scikit-learn==1.4.2
scipy @ file:///rapids/scipy-1.13.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=b8434f6f3fa49f631fae84afee424e2483289dfc30a47755b4b4e6b07b2633a4
timm==1.0.12
torch==2.5.1+cu121
tornado==6.2
tqdm==4.66.4
transformers==4.44.0
wandb==0.17.7
